<div class="info-popup">
	<div class="info-popup__inner">
		<div class="info-popup__title">Auto-Renewal Plan</div>
		<!-- /.info-popup__title -->
		<div class="info-popup__text">
			<p>
				Our hassle-free
				<a href="https://www.kaspersky.com.tr/auto-renewal-service">Auto-Renewal Plan</a>&nbsp;is designed to save you time, effort and risk by extending your subscription automatically before it expires*.
			</p>
			<p>
				Benefits of automatically renewing your license include:
			</p>
		</div>
		<!-- /.info-popup__text -->
		<div class="info-popup__field">
			<div class="info-popup__photo">
				<img src="images/ar-protection.png" alt="" class="info-popup__pic">
			</div>
			<!-- /.info-popup__photo -->
			<div class="info-popup__desc">
				<strong>Uninterrupted protection</strong>— Your subscription will continue with continuous protection
			</div>
			<!-- /.info-popup__desc -->
		</div>
		<!-- /.info-popup__field -->
		<div class="info-popup__field">
			<div class="info-popup__photo">
				<img src="images/ar-smile.png" alt="" class="info-popup__pic">
			</div>
			<!-- /.info-popup__photo -->
			<div class="info-popup__desc">
				<strong>Worry free, peace of mind</strong>that your devices are always secure
			</div>
			<!-- /.info-popup__desc -->
		</div>
		<!-- /.info-popup__field -->
		<div class="info-popup__field">
			<div class="info-popup__photo">
				<img src="images/ar-time.png" alt="" class="info-popup__pic">
			</div>
			<!-- /.info-popup__photo -->
			<div class="info-popup__desc">
				<strong>Saves you time</strong>— We take care of everything for you and will send you notifications to inform you of your next billing date & confirmation that your license has been renewed
			</div>
			<!-- /.info-popup__desc -->
		</div>
		<!-- /.info-popup__field -->
		<div class="info-popup__field">
			<div class="info-popup__photo">
				<img src="images/ar-transfer.png" alt="" class="info-popup__pic">
			</div>
			<!-- /.info-popup__photo -->
			<div class="info-popup__desc">
				<strong>Flexibility</strong>— You may unsubscribe from this service at any time
			</div>
			<!-- /.info-popup__desc -->
		</div>
		<!-- /.info-popup__field -->
		<div class="info-popup__buttons">
			<a href="#" class="info-popup__link js-renewal__popup">RENEW MY LICENSE AUTOMATICALLY</a>
			<a href="#" class="info-popup__link info-popup__link_color js-renewal__popupcancel">RENEW MANUALLY</a>
		</div>
		<!-- /.info-popup__buttons -->
		<div class="info-popup__required">
			Renewal prices are subject to change, additional online offers & discounts may be available at the time of your renewal which cannot be applied to your subscription. We will send you at least one email reminder to notify you of this. You will also receive
			by email confirmation of the renewal price you will pay, and the duration of your new subscription, before it is automatically renewed. You may be required to upgrade to the latest version of Kaspersky for free at this time.
		</div>
	</div>
	<!-- /.info-popup__inner -->
</div>
<!-- /.info-popup -->