<div class="choice-popup">
	<div class="choice-popup__title">Выберите действие</div>
	<!-- /.choice-popup__title -->
	<div class="choice-popup__row">
		<div class="choice-popup__left">
			<a href="#" class="choice-popup__photo">
				<img src="images/basket.png" alt="" class="choice-popup__pic">
			</a>
			<div class="choice-popup__desc">
				<a href="#" class="choice-popup__link">
					<span>Женские солнцезащитные очки</span>
					<b>MARC JACOBS 78/S U1S BB 57</b>
				</a>
			</div>
			<!-- /.choice-popup__desc -->
		</div>
		<!-- /.choice-popup__left -->
		<div class="choice-popup__right">
			<div class="choice-popup__price">10 990 руб.</div>
			<!-- /.choice-popup__price -->
		</div>
		<!-- /.choice-popup__right -->
	</div>
	<!-- /.choice-popup__row -->
	<div class="choice-popup__footer">
		<a href="#" class="choice-popup__more">Подробнее</a>
		<a href="#" data-ajax="" data-url="ajax/oneclick.html" class="choice-popup__onclick">Купить в 1 клик</a>
	</div>
	<!-- /.choice-popup__footer -->
	<a href="#">
		<picture class="basket-total__pic lazyloaded">
			<source srcset="images/sale__pic-s.jpg" media="(max-width: 768px)">
				<source srcset="images/basket-banner.jpg">
					<img class="basket-total__img choice-popup__img lazyloaded" srcset="images/basket-banner.jpg" alt="">
		</picture>
	</a>
</div>
<!-- /.choice-popup -->