<div class="address-popup">
	<div class="address-popup__title">
		Выберите город
	</div>
	<ul class="address-popup__list">
		<li class="address-popup__item address-popup__item-big">
			<a href="" class="address-popup__link address-popup__link-big">
				Москва
			</a>
		</li>
		<li class="address-popup__item address-popup__item-big">
			<a href="" class="address-popup__link address-popup__link-big">
				Санкт-Петербург
			</a>
		</li>
	</ul>
	<div class="address-popup__row">

		<div class="address-popup__col">
			<ul class="address-popup__list">
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Екатеринбург
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Краснодар
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Казань
					</a>
				</li>
			</ul>
		</div>

		<div class="address-popup__col">
			<ul class="address-popup__list">
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Новосибирск
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Омск
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Ростов на дону
					</a>
				</li>
			</ul>
		</div>

		<div class="address-popup__col">
			<ul class="address-popup__list">
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Самара
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Уфа
					</a>
				</li>
				<li class="address-popup__item">
					<a href="" class="address-popup__link">
						Ярославль
					</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="address-popup__input-wrap">
		<input type="text" class="address-popup__input">
		<!-- /.address-popup__input -->
	</div>
	<!-- /.address-popup__input-wrap -->


</div>