<div class="question-popup">
	<div class="question-popup__title">
		Ваш город
		<a href="#">Казань</a>верно?
	</div>
	<ul class="question-popup__list">
		<li class="question-popup__item">
			<a href="#" class="question-popup__link">
				Да
			</a>
		</li>
		<li class="question-popup__item">
			<a href="#" class="question-popup__link">
				нет
			</a>
		</li>
	</ul>
</div>