<div class="auth-popup">
	<div class="auth-popup__title">Авторизация</div>
	<!-- /.auth-popup__title -->
	<form action="" class="auth-popup__form">
		<div class="auth-popup__field">
			<input type="email" class="auth-popup__input error" placeholder="E-mail">
			<div class="error-text">Ошибка</div>
		</div>
		<!-- /.auth-popup__field -->
		<div class="auth-popup__field">
			<input type="password" class="auth-popup__input" placeholder="Пароль">
		</div>
		<!-- /.auth-popup__field -->
		<div class="auth-popup__block">
			<label class="checkbox auth-popup__checkbox">
				<input type="checkbox" class="checkbox__input">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">По сайту</span>
			</label>
			<!-- /.checkbox -->
			<a href="#" class="auth-popup__forgot" data-ajax data-url="ajax/forgot.html">Забыли пароль?</a>
		</div>
		<!-- /.auth-popup__block -->
		<div class="auth-popup__footer">
			<input type="submit" class="auth-popup__submit" value="Войти">
			<a href="#" class="auth-popup__reg">Зарегистрироваться</a>
		</div>
		<!-- /.auth-popup__footer -->
	</form>
	<!-- /.auth-popup__form -->
</div>
<!-- /.auth-popup -->