<div class="basket-popup">
	<div class="basket-popup__row">
		<div class="basket-popup__left">
			<a href="#" class="basket-popup__photo">
				<img src="images/basket.png" alt="" class="basket-popup__pic">
			</a>
			<div class="basket-popup__desc">
				<a href="#" class="basket-popup__link">
					MARC JACOBS 78/S U1S BB 57
				</a>
			</div>
			<!-- /.basket-popup__desc -->
		</div>
		<!-- /.basket-popup__left -->
		<div class="basket-popup__right">
			<div class="basket-popup__count">
				1 шт
			</div>
			<!-- /.basket-popup__count -->
			<div class="basket-popup__price">10 990 руб.</div>
			<!-- /.basket-popup__price -->
			<div class="basket-popup__block">
				<div class="basket-popup__delete">
					<a href="#" class="js-basket-popup__delete"></a>
				</div>
				<!-- /.basket-popup__delete -->
			</div>
		</div>
		<!-- /.basket-popup__right -->
	</div>
	<!-- /.basket-popup__row -->
	<div class="basket-popup__row">
		<div class="basket-popup__left">
			<a href="#" class="basket-popup__photo">
				<img src="images/basket.png" alt="" class="basket-popup__pic">
			</a>
			<div class="basket-popup__desc">
				<a href="#" class="basket-popup__link">
					MARC JACOBS 78/S U1S BB 57
				</a>
			</div>
			<!-- /.basket-popup__desc -->
		</div>
		<!-- /.basket-popup__left -->
		<div class="basket-popup__right">
			<div class="basket-popup__count">
				1 шт
			</div>
			<!-- /.basket-popup__count -->
			<div class="basket-popup__price">10 990 руб.</div>
			<!-- /.basket-popup__price -->
			<div class="basket-popup__block">
				<div class="basket-popup__delete">
					<a href="#" class="js-basket-popup__delete"></a>
				</div>
				<!-- /.basket-popup__delete -->
			</div>
		</div>
		<!-- /.basket-popup__right -->
	</div>
	<!-- /.basket-popup__row -->
	<div class="basket-popup__footer">
		<a href="#" class="basket-popup__buy">
			Купить
		</a>
		<!-- /.basket-popup__buy -->
		<div class="basket-popup__total">
			<div class="basket-popup__total-text">Итого:</div>
			<div class="basket-popup__total-price">22 680 руб.</div>
		</div>
		<!-- /.basket-popup__total -->
	</div>
	<!-- /.basket-popup__footer -->
</div>
<!-- /.basket-popup-popup -->