<div class="choice-popup">
	<div class="choice-popup__title">Товар добавлен в корзину</div>
	<!-- /.choice-popup__title -->
	<div class="choice-popup__row">
		<div class="choice-popup__left">
			<a href="#" class="choice-popup__photo">
				<img src="images/basket.png" alt="" class="choice-popup__pic">
			</a>
			<div class="choice-popup__desc">
				<a href="#" class="choice-popup__link">
					<span>Женские солнцезащитные очки</span>
					<b>MARC JACOBS 78/S U1S BB 57</b>
				</a>
			</div>
			<!-- /.choice-popup__desc -->
		</div>
		<!-- /.choice-popup__left -->
		<div class="choice-popup__right">
			<div class="choice-popup__price">10 990 руб.</div>
			<!-- /.choice-popup__price -->
		</div>
		<!-- /.choice-popup__right -->

	</div>
	<!-- /.choice-popup__row -->
	<div class="choice-popup__lens">
		<div class="choice-popup__lens-desc">
			Разные параметры глаз
		</div>
		<!-- /.choice-popup__lens-col -->
		<div class="choice-popup__lens-col">
			<div class="choice-popup__lens-title">
				Сила (D)
			</div>
			<div class="choice-popup__lens-param">
				-12,00
			</div>
			<div class="choice-popup__lens-param">
				-12,00
			</div>
		</div>
		<!-- /.choice-popup__lens-col -->
		<div class="choice-popup__lens-col">
			<div class="choice-popup__lens-title">
				Кривизна (BC)
			</div>
			<div class="choice-popup__lens-param">
				8,5
			</div>
			<div class="choice-popup__lens-param">
				8,5
			</div>
		</div>
		<!-- /.choice-popup__lens-col -->
		<div class="choice-popup__lens-col">
			<div class="choice-popup__lens-title">
				Цилиндр (CYL)
			</div>
			<div class="choice-popup__lens-param">
				-
			</div>
			<div class="choice-popup__lens-param">
				-
			</div>
		</div>
		<!-- /.choice-popup__lens-col -->
		<div class="choice-popup__lens-col">
			<div class="choice-popup__lens-title">
				Ось (AXIS)
			</div>
			<div class="choice-popup__lens-param">
				-
			</div>
			<div class="choice-popup__lens-param">
				-
			</div>
		</div>
		<!-- /.choice-popup__lens-col -->
	</div>
	<!-- /.choice-popup__row -->
	<div class="choice-popup__footer">
		<a href="#" class="choice-popup__exit">Продолжить покупки</a>
		<a href="#" data-ajax="" class="choice-popup__basket">Оформить заказ</a>
	</div>
	<!-- /.choice-popup__footer -->
</div>
<!-- /.choice-popup -->