<div class="city-popup">
	<div class="city-popup__title">
		Ваш город
		<br>
		<span>Санкт-Петербург</span>?
	</div>
	<!-- /.city-popup__title -->
	<div class="city-popup__content">
		<a href="#" class="city-popup__link">Да</a>
		<a href="" data-ajax="" data-url="ajax/address.html" class="city-popup__link">Нет, выбрать другой город</a>
	</div>
	<!-- /.city-popup__content -->
</div>
<!-- /.city-popup -->