<div class="diagnostic-popup">
	<img src="images/diagnostic-popup.png" alt="" class="diagnostic-popup__pic">
	<!-- /.diagnostic-popup__pic -->
	<div class="diagnostic-popup__title">
		Пройдите бесплатную диагностику зрения
	</div>
	<!-- /.diagnostic-popup__title -->
	<a href="#" class="diagnostic-popup__btn">
		записаться
	</a>
	<!-- /.diagnostic-popup__btn -->
</div>
<!-- /.diagnostic-popup -->