<div class="forgot-popup">
	<div class="forgot-popup__title">Восстановить пароль</div>
	<!-- /.forgot-popup__title -->
	<form action="" class="forgot-popup__form">
		<div class="forgot-popup__field">
			<input type="email" class="forgot-popup__input error" placeholder="E-mail">
			<span class="error-text">Телефон не может быть пустым(ой)</span>
		</div>
		<!-- /.forgot-popup__field -->
		<div class="forgot-popup__footer">
			<input type="submit" class="forgot-popup__submit" value="Отправить">
		</div>
		<!-- /.forgot-popup__footer -->
	</form>
	<!-- /.forgot-popup__form -->
</div>
<!-- /.forgot-popup -->