<div class="lens-popup">
	<div class="lens-popup__title">
		Заполните обязательные поля
	</div>
	<!-- /.lens-popup__title -->
	<div class="lens-popup__filter" id="js-detail__move">

		<div class="lens-popup__checkbox">
			<label class="checkbox">
				<input type="checkbox" checked class="checkbox__input js-lens-popup__checkbox">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">Разные параметры глаз</span>
			</label>
			<!-- /.checkbox -->
		</div>
		<!-- /.lens-popup__checkbox -->

		<div class="lens-popup__row">
			<div class="lens-popup__col">
				<div class="lens-popup__filter-title">
					Сила (D)
				</div>
				<!-- /.lens-popup__title -->
				<div class="lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->
				<div class="lens-popup__option js-lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
			<!--<div class="lens-popup__col">-->
			<!--<div class="lens-popup__filter-title">-->
			<!--Кривизна (BC)-->
			<!--</div>-->
			<!--<div class="lens-popup__option">-->
			<!--<div class="lens-popup__one-value">-->
			<!--8.5-->
			<!--</div>-->
			<!--&lt;!&ndash; /.lens-popup__one-value &ndash;&gt;-->
			<!--</div>-->
			<!--&lt;!&ndash; /.lens-popup__option &ndash;&gt;-->
			<!--<div class="lens-popup__option js-lens-popup__option">-->
			<!--<div class="lens-popup__one-value">-->
			<!--8.5-->
			<!--</div>-->
			<!--&lt;!&ndash; /.lens-popup__one-value &ndash;&gt;-->
			<!--</div>-->
			<!--&lt;!&ndash; /.lens-popup__option &ndash;&gt;-->

			<!--</div>-->
			<!-- /.lens-popup__col -->
			<div class="lens-popup__col">
				<div class="lens-popup__filter-title">
					Цилиндр (CYL)
				</div>
				<div class="lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>

				</div>
				<!-- /.lens-popup__option -->
				<div class="lens-popup__option js-lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>

				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
			<div class="lens-popup__col">
				<div class="lens-popup__filter-title">
					Ось (AXIS)
				</div>
				<div class="lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->
				<div class="lens-popup__option js-lens-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
		</div>
		<!-- /.lens-popup__row -->
	</div>
	<!-- /.lens-popup__filter -->
	<div class="lens-popup__footer">
		<a href="#" class="lens-popup__more">Подробнее</a>
		<a href="#" data-ajax="" data-url="ajax/oneclick.html" class="lens-popup__onclick">Купить в 1 клик</a>
	</div>
	<!-- /.lens-popup__footer -->
	<a href="#">
		<picture class="basket-total__pic lazyloaded">
			<source srcset="images/sale__pic-s.jpg" media="(max-width: 768px)">
				<source srcset="images/basket-banner.jpg">
					<img class="basket-total__img lazyloaded" srcset="images/basket-banner.jpg" alt="">
		</picture>
	</a>
</div>
<!-- /.lens-popup-->

<script>
	var lensCheckbox = $('.js-lens-popup__checkbox');
	if (lensCheckbox.is(':checked')) {
		$('body').addClass('lens-popup__body-active');
	} else {
		$('body').removeClass('lens-popup__body-active');
	}

	lensCheckbox.change(function () {
		if ($(this).is(':checked')) {
			$('body').toggleClass('lens-popup__body-active');
			return false;
		}
		$('body').removeClass('lens-popup__body-active');

	});
</script>