<div class="oneclick-popup">
	<div class="oneclick-popup__title">Купить в один клик</div>
	<!-- /.oneclick-popup__title -->
	<div class="oneclick-popup__row">
		<div class="oneclick-popup__left">
			<a href="#" class="oneclick-popup__photo">
				<img src="images/basket.png" alt="" class="basket__pic">
			</a>
			<div class="oneclick-popup__desc">
				<a href="#" class="oneclick-popup__link">
					<span>Женские солнцезащитные очки</span>
					<b>MARC JACOBS 78/S U1S BB 57</b>
				</a>
			</div>
			<!-- /.oneclick-popup__desc -->
		</div>
		<!-- /.oneclick-popup__left -->
		<div class="oneclick-popup__right">
			<div class="oneclick-popup__count">
				<span class="oneclick-popup__minus js-basket__minus"></span>
				<span class="oneclick-popup__number js-basket__number">2</span>
				<span class="oneclick-popup__plus js-basket__plus"></span>
			</div>
			<!-- /.oneclick-popup__count -->
			<div class="oneclick-popup__block">
				<div class="oneclick-popup__price">
					<span>10 990 руб. x</span> <b class="js-basket__number">2</b>
				</div>
				<!-- /.oneclick-popup__price -->
				<div class="oneclick-popup__summ">21 980 руб.</div>
				<!-- /.oneclick-popup__summ -->
			</div>
		</div>
		<!-- /.oneclick-popup__right -->
	</div>
	<!-- /.oneclick-popup__row -->

	<div class="oneclick-popup__filter">

		<div class="oneclick-popup__row">
			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Сила (D)
				</div>
				<!-- /.lens-popup__title -->
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>

			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Кривизна (BC)
				</div>
				<div class="oneclick-popup__option">
					<div class="oneclick-popup__one-value">
						8.5
					</div>
					<!-- /.lens-popup__one-value -->
				</div>
				<!-- /.lens-popup__option -->

			</div>

			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Цилиндр (CYL)
				</div>
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Ось (AXIS)
				</div>
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
		</div>
		<!-- /.lens-popup__row -->

		<div class="oneclick-popup__checkbox">
			<label class="checkbox">
				<input type="checkbox" checked class="checkbox__input js-oneclick-popup__checkbox">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">Разные параметры глаз</span>
			</label>
			<!-- /.checkbox -->
		</div>
		<!-- /.lens-popup__checkbox -->

		<div class="oneclick-popup__row">
			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Сила (D)
				</div>
				<!-- /.lens-popup__title -->
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>

			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Кривизна (BC)
				</div>
				<div class="oneclick-popup__option">
					<div class="oneclick-popup__one-value">
						8.5
					</div>
					<!-- /.lens-popup__one-value -->
				</div>
				<!-- /.lens-popup__option -->

			</div>

			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Цилиндр (CYL)
				</div>
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
			<div class="oneclick-popup__col">
				<div class="oneclick-popup__filter-title">
					Ось (AXIS)
				</div>
				<div class="oneclick-popup__option">
					<div class="combox">
						<select name="" class="combox__select js-combox__select">
							<option value="">111</option>
						</select>
						<div class="combox__icon"></div>
					</div>
				</div>
				<!-- /.lens-popup__option -->

			</div>
			<!-- /.lens-popup__col -->
		</div>
		<!-- /.lens-popup__row -->
	</div>
	<!-- /.lens-popup__filter -->

	<div class="oneclick-popup__form-title">
		Ваши данные
	</div>
	<form action="" class="oneclick-popup__form">
		<div class="oneclick-popup__block">
			<div class="oneclick-popup__form-row">
				<div class="oneclick-popup__field required">
					<input type="text" class="oneclick-popup__input" placeholder="Ваше имя">
				</div>
				<!-- /.oneclick-popup__field -->
				<div class="oneclick-popup__field required">
					<input type="tel" class="oneclick-popup__input" placeholder="Телефон">
				</div>
				<!-- /.oneclick-popup__field -->
				<div class="oneclick-popup__field required">
					<input type="email" class="oneclick-popup__input" placeholder="Email">
				</div>
				<!-- /.oneclick-popup__field -->
			</div>
			<!-- /.oneclick-popup__form-row -->
		</div>
		<!-- /.oneclick-popup__block -->
		<div class="oneclick-popup__block">
			<div class="oneclick-popup__field">
				<textarea class="oneclick-popup__textarea"></textarea>
			</div>
			<!-- /.oneclick-popup__field -->
		</div>
		<!-- /.oneclick-popup__block -->

		<div class="oneclick-popup__footer">
			<label class="checkbox basket-payment__checkbox">
				<input type="checkbox" class="checkbox__input" name="r2">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text oneclick-popup__checkbox-text">
					<b>Принимаю</b> 
					<a href="#">условия</a> <b>обработки персональных данных.</b>
				</span>
			</label>
			<!-- /.checkbox -->

			<input type="submit" class="oneclick-popup__submit" value="отправить заказ">
		</div>
		<!-- /.oneclick-popup__footer -->
	</form>
	<!-- /.oneclick-popup__form -->
</div>
<!-- /.oneclick-popup -->

<script>
	$('[type=tel]').mask('+7 (999) 999-99-99');
</script>
<script>
	var lensCheckbox = $('.js-oneclick-popup__checkbox');
	if (lensCheckbox.is(':checked')) {
		$('body').addClass('oneclick-popup__body-active');
	} else {
		$('body').removeClass('oneclick-popup__body-active');
	}

	lensCheckbox.change(function () {
		if ($(this).is(':checked')) {
			$('body').toggleClass('oneclick-popup__body-active');
			return false;
		}
		$('body').removeClass('oneclick-popup__body-active');

	});
</script>