<div class="popup-3d">

	<div class="photo-round js-photo-round">
		<div class="photo-round__section">
			<div class="photo-round__zoom">
				<div class="photo-round__plus js-photo-round__plus"></div>
				<!-- /.photo-round__plus -->
				<div class="photo-round__minus js-photo-round__minus"></div>
				<!-- /.photo-round__minus -->
			</div>
			<!-- /.photo-round__zoom -->
			<div class="photo-round__container">
				<ul class="photo-round__list js-photo-round__list">
					<li class="photo-round__item js-photo-round__item active">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.0.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.1.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.2.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.3.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.4.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.5.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.6.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.7.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.8.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
					<li class="photo-round__item js-photo-round__item">
						<img src="images/CARRERA6000 2V5 T5.3d/CARRERA6000 2V5 T5.3d.200.9.jpg" alt="" class="photo-round__pic js-photo-round__pic">
					</li>
					<!-- /.photo-round__item -->
				</ul>
				<!-- /.photo-round__list -->
			</div>
			<!-- /.photo-round__container -->
			<div class="photo-round__footer">
				<div class="photo-round__prev js-photo-round__prev"></div>
				<!-- /.photo-round__prev -->
				<div class="photo-round__play js-photo-round__play"></div>
				<!-- /.photo-round__play -->
				<div class="photo-round__next js-photo-round__next"></div>
				<!-- /.photo-round__next -->
				<div class="photo-round__fullscreen js-photo-round__fullscreen"></div>
				<!-- /.photo-round__fullscreen -->
			</div>
			<!-- /.photo-round__footer -->
		</div>
		<!-- /.photo-round__section -->
	</div>
	<!-- /.photo-round -->

</div>
<script>
	(function() {
	
		new PhotoRound(document.querySelector('.js-photo-round'), {
			speed: 500,
			autoPlay: true,
			zoomStep: 50
		});
	
	})();
</script>
