<div class="reg-popup">
	<div class="reg-popup__title">Регистрация</div>
	<!-- /.reg-popup__title -->
	<form action="" class="reg-popup__form">
		<div class="reg-popup__field">
			<input type="text" class="reg-popup__input" placeholder="Ваше имя">
		</div>
		<!-- /.reg-popup__field -->
		<div class="reg-popup__field">
			<input type="email" class="reg-popup__input error" placeholder="E-mail">
			<div class="error-text">Ошибка</div>
		</div>
		<!-- /.reg-popup__field -->
		<div class="reg-popup__field">
			<input type="password" class="reg-popup__input" placeholder="Пароль">
		</div>
		<!-- /.reg-popup__field -->
		<div class="reg-popup__block">
			<label class="checkbox reg-popup__checkbox">
				<input type="checkbox" class="checkbox__input">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">Принимаю
					<a href="#">условия</a>обработки персональных данных</span>
			</label>
			<!-- /.checkbox -->
		</div>
		<!-- /.reg-popup__block -->
		<div class="reg-popup__footer">
			<input type="submit" class="reg-popup__submit" value="зарегистрироваться">
			<a href="#" class="reg-popup__auth">Авторизоваться</a>
		</div>
		<!-- /.reg-popup__footer -->
	</form>
	<!-- /.reg-popup__form -->
</div>
<!-- /.reg-popup -->