<div class="subscribe-popup">
	<img src="images/subscribe-popup-pic.png" alt="" class="subscribe-popup__pic">
	<!-- /.subscribe-popup__pic -->
	<form action="" class="subscribe-popup__form">
		<div class="subscribe-popup__title">
			Подпишитесь, чтобы получить скидку на первую покупку
		</div>
		<!-- /.subscribe-popup__title -->
		<input type="text" class="subscribe-popup__input" placeholder="E-mail" required>
		<!-- /.subscribe-popup__input -->
		<div class="subscribe-popup__footer">
			<label class="checkbox subscribe-popup__checkbox">
				<input type="checkbox" class="checkbox__input" name="r2">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">
					Принимаю
					<a href="#">условия</a>обработки персональных данных
				</span>
			</label>
			<!-- /.checkbox -->
		</div>
		<input type="submit" class="subscribe-popup__submit" value="Оформить заказ">
	</form>
	<!-- /.subscribe-popup__form -->
</div>
<!-- /.subscribe-popup -->