<div class="time-off__popup">
	<div class="time-off__title">
		Укажите причину отгула
	</div>
	<!-- /.time-off__title -->
	<form action="" class="time-off__form">
		<div class="time-off__row">
			<div class="time-off__col">
				<div class="time-off__datepicker">
					<label class="time-off__label">Уточните период:</label>
					<input type="text" class="js-datepicker notice-nav__datepicker hasDatepicker" id="dp1517220986762">
				</div>
				<div class="time-off__info">
					Будет отменено
					<a class="time-off__info-link" href="#">3 записи на прием</a>
				</div>
			</div>
			<!-- /.time-off__col -->
			<div class="time-off__col">
				<label class="time-off__label">Уточните причину:</label>
				<div class="time-off__check">
					<label class="checkbox basket-payment__checkbox">
						<input type="radio" class="checkbox__input" name="r1" checked="">
						<span class="checkbox__icon"></span>
						<span class="checkbox__text">Болезнь</span>
					</label>
				</div>
				<div class="time-off__check">
					<label class="checkbox basket-payment__checkbox">
						<input type="radio" class="checkbox__input" name="r1" checked="">
						<span class="checkbox__icon"></span>
						<span class="checkbox__text">Отпуск</span>
					</label>
				</div>
				<div class="time-off__col">
					<div class="time-off__submit-wrap">
						<input type="submit" class="time-off__submit" value="Подтвердить">
					</div>
				</div>
				<!-- /.time-off__col -->
			</div>
			<!-- /.time-off__col -->
		</div>
		<!-- /.time-off__row -->
	</form>
	<!-- /.time-off__form -->
</div>
<!-- /.time-off__popup -->